.buttons-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    opacity: 0;
    transition: all 0.5s ease;
    @media (max-width: 575px){
        flex-direction: column;
    }
    &_active{
        margin-top: 0px;
        opacity: 1;
    }
    .button{
        display: block;
        text-transform: uppercase;
        width: 500px;
        border: 2px solid #000;
        border-radius: 20px;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.1;
        padding: 5px;
        color: rgba(0, 0, 0, 0);
        transition: all 0.5s ease;
        @media (max-width: 1399px){
            font-size: 30px;
            width: 450px;
        }
        @media (max-width: 991px){
            font-size: 25px;
            width: 320px;
        }
        @media (max-width: 767px){
            font-size: 22px;
            width: 250px;
        }
        @media (max-width: 575px){
            font-size: 16px;
            width: 200px;
            margin: 0px auto 10px;
            border-radius: 10px;
        }
        &_active{
            color:  rgb(0, 0, 0);
        }
    }  
    .button-pink{
        background: #ff609a;
        transition: all 0.5s ease;
        &:hover{
            background: #ff76a8;
        }
    }
    .button-blue{
        background: #cbe8fc;
        transition: all 0.5s ease;
        &:hover{
            background: #acdcfc;
        }
    }
}
