.offer{
    padding: 185px 10px 180px 10px;
    background: url("./cloud.png") no-repeat 50% 40% / contain;
    background-size: 100%;
    opacity: 0;
    &_active{
        opacity: 1;
        transition: all 0.5s ease;
    }
    @media (max-width: 1399px){
        padding: 170px 10px 160px 10px;
        @media (max-width: 1200px){
            padding: 130px 10px 130px 10px;
        }
        @media (max-width: 991px){
            padding: 100px 10px 100px 10px;
        }
        @media (max-width: 480px){
            padding: 70px 10px 80px 10px;
        }
        @media (max-width: 380px){
            padding: 60px 10px 70px 10px;
        }
    }
    .offer__text{
        text-transform: uppercase;
        text-align: center;
        font-size: 58px;
        line-height: 75px;
        letter-spacing: .1rem;
        opacity: 0;
        transition: all 0.5s ease;
        @media (max-width: 1399px){
            font-size: 50px;
            line-height: 65px;
            @media (max-width: 1200px){
                font-size: 45px;
                line-height: 55px;
            }
            @media (max-width: 1200px){
                font-size: 45px;
                line-height: 55px;
            }
            @media (max-width: 991px){
                font-size: 35px;
                line-height: 40px;
            }
            @media (max-width: 767px){
                font-size: 26px;
                line-height: 30px;
            }
            @media (max-width: 575px){
                font-size: 20px;
                line-height: 25px;
            }
            @media (max-width: 480px){
                font-size: 16px;
            }
            @media (max-width: 380px){
                font-size: 14px;
                line-height: 20px;
            }
        }
        &_active{
            opacity: 1;
            transition: all 0.5s ease;
        }
    }
}