.container{
  width: 1320px;
  margin: 0 auto;
  @media (max-width: 1399px){
      width: 1140px;
  }
  @media (max-width: 1199px){
      width: 960px;
  }
  @media (max-width: 991px){
      width: 720px;
  }
  @media (max-width: 767px){
      width: 540px;
  }
  @media (max-width: 575px){
      width: auto;
  }
}
.main{
    height: 100vh;
    overflow: scroll;
}
.main-container{
    height: calc(100vh + 1px);
    overflow: hidden;
}