.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all 0.5s ease;
    overflow: hidden;
    &_active{
        height: 180px;
        transition: all 0.5s ease;
        @media (max-width: 1399px){
            height: 120px;
        }
        @media (max-width: 991px){
            height: 100px;
        }
        @media (max-width: 767px){
            height: 80px;
        }
    }
    .logo__img{
        width: 700px;
        height: 450px;
        transition: all 0.5s ease;
        @media (max-width: 1399px){
            width: 500px;
            height: 320px;
        }
        @media (max-width: 991px){
            width: 400px;
            height: 290px;
        }
        @media (max-width: 767px){
            width: 320px;
            height: 230px;
        }
        @media (max-width: 575px){
            width: 280px;
            height: 220px;
        }
        @media (max-width: 480px){
            width: 240px;
            height: 190px;
        }
    }    
}
